@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,700;1,400&display=swap');

.app {
  background-color: rgb(201, 198, 198);
  font-size: 16px;
  font-family: sans-serif;
  height: 400vh;
}
.header{
width: 100%;
position: relative;
left: 40%;
}
.companyheader{
  width: 100%;
}
.companyName{
  width: 100%;
  font-family: 'Inter', sans-serif;
  position: relative;
  padding: 5px;
  right: 4rem;
  color: black;
  font-size: 3rem;
  
}
.companyImg{
  width: 20%;
  position: relative;
  right: -2%;
}
.welcome{
  position: relative;
  font-size: 1rem;
  color: black;
  right: 12rem;
}

.open{
  height: 4rem;
  font-size: larger;
  color: green;
}
.close{
  height: 4rem;
  font-size: larger;
  color: red;
}
.link{
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 5px; 
  position: relative;
  right: 5rem;
}
.link1{
  padding: 1rem;
  color: black;
  font-size: larger;
}
.link2{
  padding: 1rem;
  color: black;
  font-size: larger;
}
.link3{
  padding: 1rem;
  color: black;
  font-size: larger;
} 
.filter-form{
  width: 50%;
  position: relative;
  /* right: -1.3rem; */
  top: 1rem;
}
.profile{
  position: relative;
  color: black;
  width: 90%;
  
}
.about{
position: relative;
width: 100%;
font-size: 3rem;
left: 45%;
}
.me{
  display: flex;
  position: relative;
  padding: 5px;
  left: 20%;
  border: 2px solid black;
  width: 70%;

}
.meimg{
  width: 40%;
  display: flex;
  padding:5px;
  height: 70vh;
  position: relative;
  left: 1rem;
  
  
}
.mestory{
  font-size: 80%;
 padding: 10px;
 width:20rem;  
 position: relative;
 top: 2rem;
 left: 2rem;
}
.end{
  
  width: 550px;
  position: relative;
  left: 30%;
  
}
.imgcontainer{
  display: flex;
  flex-direction: row;
  
  position: relative;
  top: 20px;
}
.public-body{
  width: 100%;
}
.bottomimg{
  width: 20%;
  padding: 10px;

}
.public{
position: relative;
color: black;
left:26rem;
}
.public > h1{
  position: relative;
  right: 1rem;
  width: 50%;
}
.public > h3{
  position: relative;
  right: 3rem;
  width: 50%;
  
}
.public > h5{
  position: relative;
  right: 6rem;
  width: 50%;
  color: red;
}
.question{
  position: relative;
  left: 28rem;
  top: 5rem;
}

.form{
  position: relative;
  top: 2rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 20vh;
  border: 5px solid black;
  width: 50%;
  border-radius: 5px;
  left:16rem;
}
.addcomment{
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  width: 70%;
  position: relative;
  left: 4rem;
} 
.addcommentBtn{
  height: 5vh;
  border-radius: 5px;
  position: relative;
  width: 30%;
  left: 11rem;
}
.commentcomment{
  border: 2px solid black;
  position: relative;
  left: 13rem;
  width: 60%;
  top: 5rem;
}
.commentsadded{
  height: 30vh;
  color: black;
  position: relative;
  left: 90px;
 
}
.eachcomment{
  border: 2px solid grey;
  width: 97%;
  color: black;
  position: relative;
  height: 10vh;
  font-size: 75%;
  padding: 2px 2px 2px 2px;
  margin: 5px;
  
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  min-width: 50%;
  background-color: rgb(49, 44, 38);
}
.navbar-words {
  color: aliceblue;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: black;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border: 1px solid #3339;
  padding: 20px;
  border-radius: 5px;
  background-color: #aaa9;

  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.class-container{
  /* border: 2px solid white; */
  color: black;
  max-width: 90%;
  position: relative;
  left: 60px;
  top: 3rem

}
.design{
  position: relative;
  width: 50%;
  left: 25rem;

}
.classimg{
  position: relative;
  right: 3rem;
  border: 2px solid black;
  width: 45%;
}
.classdescription{
  position: relative;
  right:10rem;
  width: 120%;
  font-size: 80%;
}
.classtitle{
  position: relative;
  left: 1.5rem;
}
.classprice{
  position: relative;
  left:1rem;
  color: red;
}
.votecount{
  color: white;
}
.tag{
  color: white;
}


/*LARGER PHONES */
 @media only screen and (max-width: 450px){
  .auth-container > h1 {
    font-size: 1rem;
  }
  .companyName{
    position: relative;
    right: 5rem;
    width:80%;
    font-size: 2rem;
  }
  .companyImg{
    width: 55%;
    position: relative;
    left: -4rem;
    
  }
  .link{ 
    position: relative;
    left: -3rem;
  }
  .navbar {
    height: 50px;
    width: 100%;
  }
  .welcome{
    position: relative;
    font-size: 1rem;
    width: 60%;
    right:4rem;
  }
  .filter-form{
    width: 75%;
    position: relative;
    left: -5.5rem;
  }
  
  .about{
    position: relative;
    width: 60%;
    font-size: 2rem;
    left: 40%;
    top: 1rem;
 
    }
    .me{
      position: relative;
      left: 10%;
      padding: 3px;
      width: 90%;
      height: 50rem;
      display: flex;
      flex-direction: column;
    
    }
    .meimg{
      width: 75%;
      height: 50%;   
      position: relative;
      top: 2px;
      left: 2rem;
      border: 2px solid black;
    }
    .mestory{
      position: relative;
      width: 75%;
      top: .5rem;
      left: 2rem;
     }
     .end{
      position: relative;
      left: 5rem;
      width: 75%;

     }
     .imgcontainer{
      display: flex;
      flex-direction: column;
      position: relative;
      top: 20px;
    }
    .bottomimg{
      width: 60%;
      padding: 10px;
      position: relative;
      left: 5rem;
      border: 2px solid black;
    
    }
    .public{
      position: relative;
      color: black;
      left:8rem;
      }
      .public > h1{
        position: relative;
        right: 1rem;
        width: 40%;
      }
      .public > h3{
        position: relative;
        right: 4rem;
        width:90%;
        
      }
      .public > h5{
        position: relative;
        right: 3.5rem;
        width: 70%;
        color: red;
        bottom: 1rem;
        font-size: 12px;
      }
      .form{
        position: relative;
        height: 15vh;
        border: 3px solid black;
        width:85%;
        border-radius: 5px;
        left:1rem;
        top: -1rem;
      }
      .addcomment{
        width: 85%;
        position: relative;
        left: 1rem;
      } 
      .addcommentBtn{
        height: 4vh;
        border-radius: 5px;
        position: relative;
        width: 50%;
        left: 4.5rem;
      }
      .question{
        position: relative;
        left: 4rem;
        top: 2rem;
      }
      .commentcomment{
        border: 2px solid  black;
        position: relative;
        left: 2.5rem;
        width: 75%;
        top: 1rem;
      }
      .eachcomment{
        border: 2px solid grey;
        height: 7vh;
        width: 94%;
        color: black;
        position: relative;
        font-size:60%;
        margin: 5px;
        
      }
      .design{
        position: relative;
        width: 100%;
        left: 6rem;
      
      }
      .classimg{
        position: relative;
        right: 5rem;
        border: 2px solid black;
        width: 60%;
      }
      .classdescription{
        position: relative;
        right: 8rem;
        width: 100%;
      }
      .classtitle{
        position: relative;
        
      }
      .classprice{
        position: relative;
        left: -1rem;
        
        
      }

 

}

/* @media only screen and (max-width: 1000px){
  .auth-container > h1 {
    font-size: 1rem;
  }
 
  .companyName{
    width: 80%;
    font-size: 1.5rem;
    position: relative;
    
  }
  .companyImg{
    position: relative;
    width: 40%;
    right: 3rem;
  
  }
  .navbar {
    height: 30px;
   width: 100%;
    
  }
  .welcome{
    position: relative;
    font-size: 1.1rem;
    right: 16rem;
  }
  .filter-form{
    width: 75%;
    position: relative;
    right: 1rem;
    top: 2rem;
  }
  .link{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 5px; 
    position: relative;
    right: 10rem;
  }
  .open{
    color: green;
  }
  .close{
  color: blue;
  
  } */

  /* .about{
    position: relative;
    width: 80%;
    font-size: 2rem;
    left: 45%;
    top: 1rem;
 
    }
    .me{
      position: relative;
      left: 17%;
      padding: 3px;
      width: 75%;
      height: 50rem;
      display: flex;
      flex-direction: column;
    
    }
    .meimg{
      width: 65%;
      height: 50%;   
      position: relative;
      top: 40px;
      left: 6rem;
      border: 2px solid black;
    }
    .mestory{
      position: relative;
      width: 60%;
      top: 3rem;
      left: 7rem;
     }
     .end{
      position: relative;
      left: 9rem;
      width: 75%;

     }
     .imgcontainer{
      display: flex;
      flex-direction: column;
      position: relative;
      top: 20px;
   
      
    }
    .bottomimg{
      width: 45%;
      padding: 10px;
      position: relative;
      left:14rem;
      border: 2px solid black;
    
    }
    .public{
      position: relative;
      color: black;
      left:20rem;
      }
      .public > h1{
        position: relative;
        right: 1rem;
        width: 40%;
      }
      .public > h3{
        position: relative;
        right: 4rem;
        width:90%;
        
      }
      .public > h5{
        position: relative;
        right: 7rem;
        width: 80%;
        color: red;
        bottom: 1rem;
      }
      .form{
        position: relative;
        height: 16vh;
        border: 3px solid black;
        width:65%;
        border-radius: 5px;
        left:9rem;
        top: -1rem;
      }
      .addcomment{
        width: 85%;
        position: relative;
        left: 1.6rem;
      } 
      .addcommentBtn{
        height: 5vh;
        border-radius: 5px;
        position: relative;
        width: 40%;
        left: 10rem;
      }
      .question{
        position: relative;
        left: 3.5rem;
        top: 2rem;
      }
      .commentcomment{
        border: 2px solid  black;
        position: relative;
        left: 6.3rem;
        width: 75%;
        top: 1rem;
      }
      .eachcomment{
        border: 2px solid grey;
        height: 10vh;
        width: 96%;
        color: black;
        position: relative;
        font-size:65%;
        margin: 5px;
        
      }
      .design{
        position: relative;
        width: 80%;
        left: 15rem;
      
      }
      .classimg{
        position: relative;
        right: 5rem;
        border: 2px solid black;
        width: 60%;
      }
      .classdescription{
        position: relative;
        right: 8rem;
        width: 100%;
      }
      .classtitle{
        position: relative;
        
      }
      .classprice{
        position: relative;
        left: 4rem; */
        
        
      

/* } */