@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,700;1,400&display=swap');

.app {
  background-color: rgb(201, 198, 198);
  font-size: 16px;
  font-family: sans-serif;
  height: 600vh;
}
.header{
width: 100%;
position: relative;
left: 40%;

}
.companyheader{
  width: 100%;
}
.companyName{
  width: 100%;
  font-family: 'Inter', sans-serif;
  position: relative;
  padding: 5px;
  right: 4rem;
  color: white;
  font-size: 3rem;
  
}
.companyImg{
  width: 200%;
  align-items: center;
}
.welcome{
  position: relative;
  font-size: 1rem;
  color: white;
  right: 12rem;
}

.open{
  height: 4rem;
  font-size: larger;
}
.close{
  height: 4rem;
  font-size: larger;

}
.link{
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 5px;
  
}
.link1{
  padding: 1rem;
  color: white;
  font-size: larger;
}
.link2{
  padding: 1rem;
  color: white;
  font-size: larger;
}
.link3{
  padding: 1rem;
  color: white;
  font-size: larger;
} 
.filter-form{
  width: 50%;
  position: relative;
  right: 1rem;
}
.profile{
  position: relative;
  color: white;
  width: 90%;
  
}
.about{
position: relative;
width: 100%;
font-size: 3rem;
left: 40%;
}
.me{
  display: flex;
  position: relative;
  padding: 5px;
  left: 20%;

}
.meimg{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  top: 50px;
  
}
.mestory{
 padding: 10px;
 max-width: 30rem;
 min-width:20rem; 
 position: relative;
 top: 2rem;
 left: 1rem;
}
.end{
  max-width: 550px;
  position: relative;
  left: 30%;
  
}
.imgcontainer{
  display: flex;
  flex-direction: row;
  
  position: relative;
  top: 20px;
}
.public-body{
  width: 100%;
}
.bottomimg{
  width: 20%;
  padding: 10px;

}
.public{
position: relative;
color: white;
left:30rem;
}
.public > h1{
  position: relative;
  right: 1rem;
  max-width: 50%;
}
.public > h3{
  position: relative;
  right: 3rem;
  max-width: 50%;
  
}
.public > h5{
  position: relative;
  right: 6rem;
  max-width: 50%;
}
.question{
  position: relative;
  left: 28rem;
  top: 5rem;
}

.form{
  position: relative;
  top: 2rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 20vh;
  border: 5px solid white;
  max-width: 50%;
  border-radius: 5px;
  left:16rem;
}
.addcomment{
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  max-width: 70%;
  position: relative;
  left: 5rem;
} 
.addcommentBtn{
  height: 5vh;
  border-radius: 5px;
  position: relative;
  max-width: 30%;
  left: 12rem;
}
.commentcomment{
  border: 2px solid white;
  position: relative;
  left: 13rem;
  max-width: 60%;
  top: 5rem;
}
.commentsadded{
  height: 30vh;
  color: white;
  position: relative;
  left: 90px;
 
}
.eachcomment{
  border: 2px solid grey;
  max-height: 200px;
  max-width: 800px;
  color: white;
  position: relative;
  
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  min-width: 50%;
  background-color: rgb(49, 44, 38);
}
.navbar-words {
  color: aliceblue;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border: 1px solid #3339;
  padding: 20px;
  border-radius: 5px;
  background-color: #aaa9;

  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.class-container{
  /* border: 2px solid white; */
  color: white;
  max-width: 100%;
  position: relative;
  left: 60px;
  top: 3rem

}
.design{
  position: relative;
  max-width: 50%;
  left: 25rem;

}
.classimg{
  position: relative;
  right: 3rem;
  border: 2px solid black;
  width: 45%;
}
.classdescription{
  position: relative;
  right: 10rem;
}
.classtitle{
  position: relative;
  left: 1.5rem;
}
.classprice{
  position: relative;
left:3rem;
}
.votecount{
  color: white;
}
.tag{
  color: white;
}

